*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.campus{
    font-size: xx-large;
    text-align: center;
    padding: 120px;
    height: 100px;
    background-color: rgb(117, 27, 27);
    color: white;
}

.msc{
    font-size: xx-large;
    text-align: center;
    padding: 120px;
    height: 100px;
    background-color: rgb(117, 27, 27);
    color: white;
}

.bonfire{
    font-size: xx-large;
    text-align: center;
    padding: 120px;
    height: 100px;
    background-color: rgb(117, 27, 27);
    color: white;
}

.button:hover{
    background-color: black;          
}


